body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fff;
  text-align: center;
}

.container {
  margin: 40px auto 0 auto;
  width: 90vw;
  height: 90vh;
  &__title {
    font-size: 22px;
  }
}
