body {
  background: linear-gradient(90deg, $white0 0%, $white20 60%);
  color: #fff;
  @include Roboto-medium;
}
.wrp {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1024px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin: 0 auto;
  min-height: 50px;
  border-bottom: 1px solid $primery;

  &__logo {
    @include Montserrat-black-italic;
    font-size: 30px;
  }
  &__nav {
    padding: 0;
  }
  &__list {
    list-style-type: none;
  }
  &__item {
    color: $primery;
    margin: 0 10px;
    & a {
      text-decoration: none;
      color: inherit;
    }
  }
}
.main {
  margin: 20px auto 0 auto;
  text-align: center;

  &__title {
    font-size: 36px;
  }
  &__content {
    width: 100%;
  }
  &__img {
    display: block;
    width: 300px;
    height: 300px;
  }
  &__info {
    margin-right: 5vw;
  }
  &__social {
    margin: 5px;
  }
}

.ico {
  fill: $white100;
  transition: all 200ms ease;
  &:hover {
    fill: $primery;
  }
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  @include digital-7;
  font-size: 100px;
  color: $primery;
  text-align: left;
}
.time_item {
  width: 100px;
}
